:host {
  display: block;
  height: 100%;
}

.stat {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;
}

.stat-title {
  font-size: 14px;
  font-weight: 500;

  color: #4f5661;
}

.stat-value {
  font-size: clamp(28px, 3vw, 38px);
  line-height: 1;

  font-weight: 600;

  color: #111318;
}